<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./layouts/head.ejs') %>
</head>

<body>


<% if (loaded) { %>
<h2>Producto agregado</h2>
<% } %>

<div class="text-bg-light px-5 py-4 mt-5 mx-auto border border-dark rounded w-50">
  <form action="/productos" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Titulo</label>
      <input class="form-control" type="text" id="title" name="title" placeholder="Default input" aria-label="default input example">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input class="form-control" type="text" id="price" name="price" placeholder="590" aria-label="default input example">
    </div>
    <div class="mb-3">
      <label for="thumbnail" class="form-label">Imagen</label>
      <input class="form-control" type="text" id="thumbnail" name="thumbnail" placeholder="https://cdn3.iconfinder.com/data/icons/education-209/64/ruler-triangle-stationary-school-256.png" aria-label="default input example">
    </div>
    <button type="submit" class="btn btn-primary">Subir</button>
  </form>
</div>

</body>

</html>
