<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>

<body>
    <div>
        <form class="text-bg-light px-5 py-4 mt-2 mx-auto border border-dark rounded w-50" action="login" method="post">
            <div class="mb-3">
                <label for="user" class="form-label">User</label>
                <input class="form-control" type="text" id="user" name="user" placeholder="User"
                    aria-label="default input example" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="p a s s w o r d"
                    aria-label="default input example" />
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>