<h1>Productos</h1>
<div class="text-bg-light p-3 m-5 border border-dark rounded">
  <div class="d-flex flex-column flex-md-row justify-content-evenly align-items-center py-4 mt-3">
    {{#each products}}
    <div class="mt-5">
      <h3 class="fs-2">{{{this.title}}}</h3>
      <p class="fs-4">{{{this.price}}}</p>
      <img class="img-fluid" style="width: 80px" src={{{this.thumbnail}}} />
    </div>
    {{/each}}
  </div>
</div>